body {
  margin: 0;
  background: radial-gradient(circle at top, #141b2d, #090c14);
  font-family: "Poppins", sans-serif;
  color: white;
}

input, button {
  font-family: inherit;
}

.center-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  width: 330px;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
}
.glass {
  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.title { font-size: 30px; margin-bottom: 5px; }
.subtitle { font-size: 14px; opacity: .7; }

input {
  width: 100%;
  margin-top: 12px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: rgba(255,255,255,0.09);
  color: white;
}
input:focus { outline: 2px solid #6366f1; }

.btn-gradient {
  margin-top: 14px;
  width: 100%;
  padding: 12px;
  border-radius: 14px;
  font-weight: 600;
  border: none;
  background: linear-gradient(45deg, #6366F1, #EC4899);
  cursor: pointer;
  transition: 0.2s;
}
.btn-gradient:hover { transform: scale(1.05); }

.switch-text { margin-top: 10px; cursor: pointer; opacity: 0.8; }

#dashboard { display: flex; height: 100vh; }

/* SIDEBAR */
.sidebar {
  width: 240px;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(10px);
  border-right: 1px solid rgba(255,255,255,0.1);
  padding: 20px;
}
.side-title { text-align: center; font-size: 24px; margin-bottom: 20px; }
.menu-item {
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  transition: .2s;
  opacity: .9;
}
.menu-item:hover {
  background: rgba(255,255,255,0.12);
  transform: translateX(4px);
  opacity: 1;
}
.logout-btn2 {
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  background: transparent;
  border: 1px solid rgba(255,255,255,0.3);
  cursor: pointer;
  border-radius: 10px;
}

/* MAIN CONTENT */
.content {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
}
.page { display: none; }
.page.active { display: block; }

.grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 20px;
}

.card {
  background: rgba(255,255,255,0.08);
  padding: 20px;
  border-radius: 16px;
  transition: .2s;
}
.card:hover {
  background: rgba(255,255,255,0.12);
  transform: translateY(-4px);
}

.big-number { font-size: 30px; margin-top: 10px; }

/* TRANSACTIONS */
.txn-row {
  background: rgba(255,255,255,0.07);
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
}

/* AI BOX */
.ai-box {
  background: rgba(255,255,255,0.07);
  padding: 15px;
  border-radius: 14px;
  margin-top: 10px;
}

@media (max-width:700px){
  .sidebar{display:none;}
  .grid{grid-template-columns:1fr;}
}


